:root {
    --red-you-tube: #f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;/* 10px */
}

body {
    background: #000;
}

#form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/*----------------Input-----------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group {
    display: flex;
    justify-content: center;
}

.input-group input,
.input-group button {
    font-size: 2rem;
    color: #fff;
    padding-left: 3rem;
    margin: 2rem;
    width: 50%;
    height: 40px;
    background: var(--red-you-tube);
    border-radius: 2rem;
}

.input-group:hover input,
.input-group:hover button{
    opacity: 0.8;
}

.input-group input::placeholder {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* yt-video */
.yt-video-background {
    display: none;
}

.yt-video-background.on {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
