.tumbnails {
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.tumbnail > a > img {
    width: 300px;
    height: auto;
    cursor: pointer;
}
