.tumbnails {
    margin-top: 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.tumbnail >  a  img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.tumbnail > a img {
    opacity: 0.5;
}

.tumbnail > a {
    position: relative;
}

#icon-x {
    color: var(--color-x);
}

i.ph-x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
