<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/partials/form.css">
    <link rel="stylesheet" href="/styles/partials/inputs.css">
    <link rel="stylesheet" href="/styles/partials/scrollbar.css">
    <link rel="stylesheet" href="/styles/main.css">
    
    <script src="https://unpkg.com/phosphor-icons"></script>

    <title>youtube customization</title>
</head>
<body>
    
    <%- include('parts/page-header', {isbackreturn: true,href: '/'})  %> 

    <div id="form">
        <form action="">
            <div class="input-group">
                <label for="url-link" class="sr-only">url do vídeo</label>
                <input 
                    autocomplete="off"
                    type="text"
                    placeholder="Link do vídeo"
                    id="url-link"
                    
                    name="url-link"
                />
            </div>
            
            <div class="input-group">
                <label 
                    for="select-width"   
                    class="sr-only"
                >Seleciona Largura</label>
                <input 
                    type="number"
                    inputmode="numeric"
                    autocomplete="off"
                    placeholder="Largura desejada"
                    id="select-width"
                  
                    name="select-width"
                    list="widths"
                />
                
                <datalist id="widths">
                    <option>1366</option>
                    <option>1280</option>
                    <option>1024</option>
                    <option>800</option>
                </datalist>
            </div>
            
            <div class="input-group actions">
                <button type="submit">
                    <a>
                        Iniciar vídeo
                    </a>
                </button>
            </div>
        </form>
    </div>
        
    <script type="module" src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
    <script type="module" src="/scripts/form.js"></script>
</body>
</html>
