<!DOCTYPE html>
<html lang="pt-br">

<%- include ('parts/page-head', {title: 'youtube customization', stylesheets: ['/styles/partials/form.css']}) %> 

<body>
    
    <%- include('parts/page-header', {isbackreturn: false}) %> 

    <div class="menu">
        <div class="input-group">
            <button type="button">
                <a href="/form">Adicionar vídeo</a>
            </button> 
        </div>
        <div class="input-group off">
            <button type="button">
                <a href="/tumbnails">Histórico de vídeos</a>    
            </button>
        </div>      
    </div>

    <script type="module" src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
</body>
</html>
