<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tumbnails</title>
    <link rel="stylesheet" href="/styles/partials/inputs.css">
    <link rel="stylesheet" href="/styles/pages/tumbnails.css">
    <link rel="stylesheet" href="/styles/partials/scrollbar.css">    
    <link rel="stylesheet" href="/styles/main.css">

    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
    <header>
            <div class="menu-section">
                <div>
                    <a href="/">
                        <button type="button" id="back-button"><i class="ph-arrow-left ph-2x"></i></button>
                    </a>
                </div>
                <div class="theme" onclick="ToggleTheme.toggleTheme()">
                    <button type="button"></button>
                </div>
            </div>
        </header>
    
    <main>
        <div>
            <button id="edit" onclick="Tumbnails.toggleMenuForExclusion()">Editar</button>
        </div>
        <div class="tumbnails"></div>
    </main>
    
    <script src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
    <script src="/scripts/tumbnails.js"></script>
</body>
</html>