<!DOCTYPE html>
<html lang="pt-br">

<%- include ('parts/page-head', {title: 'tumbnails', stylesheets: ['/styles/pages/tumbnails.css']}) %> 

<body>
    
    <%- include('parts/page-header', {isbackreturn: true,href: '/'})  %> 
    
    <main>
        <div>
            <button id="edit">Editar</button>
        </div>
        <div class="tumbnails"></div>
    </main>
    
    <script type="module" src="/scripts/tumbnails.js"></script>
    <script type="module" src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
</body>
</html>