<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yt-video</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pages/yt-video.css">
    <link rel="stylesheet" href="/styles/partials/inputs.css">
    <link rel="stylesheet" href="/styles/partials/scrollbar.css">

</head>
<body>
    
    <%- include('parts/page-header', {isbackreturn: true, href: ''})  %> 
    
    <main>
        <div class="yt-video flex">
                
        </div>
    </main>

    <script type="module" src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
    <script type="module" src="/scripts/video.js"></script>
</body>
</html>