<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/page-head', {title: 'yt-video', stylesheets: ['/styles/pages/yt-video.css']}) %> 

<body>
    
    <%- include('parts/page-header', {isbackreturn: true, href: ''})  %> 
    
    <main>
        <div class="yt-video flex">
                
        </div>
    </main>

    <script type="module" src="/scripts/script.js"></script>
    <script src="/scripts/toggleTheme.js"></script>
    <script type="module" src="/scripts/video.js"></script>
</body>
</html>