<header>
    <div class="menu-section">
    <% if (isbackreturn) { %>
        <div>
            <a href="<%= href %>">
                <button type="button" id="back-button">
                    <img src="/images/arrow-left.svg" alt="">
                </button>
            </a>
        </div>
    <% } %> 
        <div class="theme" onclick="ToggleTheme.toggleTheme()">
            <button type="button"></button>
        </div>
    </div>
</header>
