<header>
    <div class="menu-section">
    <% if (isbackreturn) { %>
        <div>
            <a href="<%= href %> ">
                <button type="button" id="back-button"><i class="ph-arrow-left ph-2x"></i></button>
            </a>
        </div>
    <% } %> 
        <div class="theme" onclick="ToggleTheme.toggleTheme()">
            <button type="button"></button>
        </div>
    </div>
</header>
