.input-group {
    display: flex;
    justify-content: center;
}

.input-group input,
.input-group button {
    font-size: 2rem;
    color: #fff;
    margin: 0.5em;
    width: 50%;
    height: 40px;
    background: var(--red-you-tube);
    border-radius: 2em;
    display: inline-block;
}

.input-group input {
    padding-left: 1em;
}

button a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    border-radius: inherit;
}

.input-group:hover input,
.input-group:hover button{
    opacity: 0.8;
}

.input-group input::placeholder {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Remove spin on input of type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* return button */
button#back-button {
    background: var(--red-you-tube);
    width: 40px;
    height: 40px;
    border-radius: 2em;
    border: none;

    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
}

button#back-button img {
    width: 27px;
    height: 27px;
}

/* Button to toggle theme */
.theme {
    margin: 4em 2em 0 0;
    cursor: pointer;
    width: 52px;
    height: 27px; 
    background: var(--bg-toggle);
    border-radius: 100px; 
    position: absolute;
    right: 3%;
    z-index: 999;
}

.theme button {
    position: absolute;
    top: 3px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 90px;
    border: none;
}

.theme.on button {
    left: 3px;
}

.theme button {
    right: 3px;
}
