body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-corner {
    background: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red-you-tube);  
    border-radius: 0.5em;      
}
