:root {
    --red-you-tube: #f00;
    --bg: #000;
    --bg-toggle: #0077FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;/* 10px */
}

body {
    background: var(--bg);
    display: flex;
    flex-direction: column;
}

a  {
    text-decoration: none;
    color: white;
}

/*basis classes*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.off {
    display: none;
}

/* making user-agent responsive*/
@media(max-width: 650px) {
    html {
        font-size: 50%;
    }

    .tumbnail > a > img {
        width: 250px;
    }
}

@media(max-width: 550px) {
    .tumbnail > a > img {
        width: 200px;
    }
}

@media(max-width: 450px) {
    .tumbnail > a > img {
        width: 140px;

    }
}
